/*Global*/

* {
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
    background: black url(../img/bg.jpg);
    color: white;
    font: .8em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
body {
    height: 100%;
}
h2 {
    margin: 10px 0;
    text-align: center;
}
h3 {
    margin: 10px 0;
    text-align: center;
}
h4 {
    margin: 10px 0;
}
p {
    margin: 3px;
}
a {
    color: deepskyblue;
    text-decoration:none;
}
a:hover {
    font-size: 1.1em;
}
input {
    padding: 4px;
    border-radius: 4px;
    background-color: steelblue;
    color: white;
    border-width: 0;
    margin-bottom: 4px;
}
iframe {
    border: 2px solid deepskyblue;
    overflow: hidden;
    border-radius: 0 4px 4px 4px;
}
textarea {
    padding: 4px;
    border-radius: 4px;
    background-color: steelblue;
    color: white;
    border-width: 0;
    margin-bottom: 4px;
    display: table;
    width: 50%;
}
hr {
    border: transparent;
    padding: 10px;
}
table, th, td {
    padding: 8px;
    border-collapse: collapse;
}
table {
    width: 100%;
    border: 2px solid deepskyblue;
}
th {
    padding: 3px 15px;
    background-color: forestgreen;
    font-weight: normal;
    font-size: 15px;
    border-bottom: 2px solid deepskyblue;
}
td {
    border: 1px solid lightskyblue;
}
tr:nth-child(odd) {
    background-color: #444;
}
tr:hover {
    background-color: forestgreen;
}

::-webkit-input-placeholder {
    color: lightgrey;
}
:-moz-placeholder { /* Firefox 18- */
    color: lightgrey;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: lightgrey;
}
:-ms-input-placeholder {
    color: lightgrey;
}

/*Classes*/


.header {
    display: block;
    float: left;
    padding: 4px 10px;
    margin: 10px 2px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    background: deepskyblue;
    color: #333;
    font-size: 1em;
    font-weight: normal;
}
.code {
    font-family: "Courier New",serif;
    padding: 1px 5px;
    background: forestgreen;
    border: 1px solid deepskyblue;
}
.textBox {
    width: 71%;
}
.timestamp {
    display: block;
    border-bottom: 2px solid forestgreen;
    margin-bottom: 5px;
}
.Send{
    cursor: pointer;
}
.Send:active{
    background-color: forestgreen;
}


#queueinfo {
    float:right;
    width: 23%;
}
#queue {
    clear: both;
    padding: 10px;
    border: 2px solid deepskyblue;
    min-height: 100px;
    -moz-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
    background: #333;
}
#playerinfo {
    float:right;
    width: 23%;
}
#playerstats {
    clear: both;
    -moz-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
    padding: 10px;
    border: 2px solid deepskyblue;
    margin-top: 5px;
    background: #333;
}
#gameinfo {
    float:right;
    width: 23%;
}
#gamestats {
    clear: both;
    -moz-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
    padding: 10px;
    border: 2px solid deepskyblue;
    margin-top: 5px;
    background: #333;
}
#container {
    margin: 0 auto;
    max-width: 1000px;
}
#title {
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    font-size: 3.5em;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px deepskyblue, 0 0 30px deepskyblue, 0 0 40px deepskyblue, 0 0 50px deepskyblue, 0 0 75px deepskyblue;
}
#chat {
    float: left;
    width: 75%;
    padding: 0;
}
/*Ladder is span and not div, because of Tabs javascript that sets every div inside wrapper to hidden (fix wanted)*/
#ladder {
    display:block;
}
#ladderrefresh {
    width: 100%;
    margin-bottom: 10px;
}
#donate {
    font-size: 1.5em;
    display: table;
    margin: 10px auto;
    padding: 5px 10px;
}
#rcaptcha {
    margin-bottom: 10px;
    margin-top: 10px;
}
#rcaptcha iframe {
    border: none;
}
#vouchrequests {
    clear:both;
    width: 100%;
    -moz-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
    padding: 10px;
    border: 2px solid deepskyblue;
    margin-top: 5px;
    background: #333;
}


/**TABS - copied from a tutorial (then modified and optimized**/


#wrapper{
    padding-top: 20px;
    clear: both;
    width:1000px;
    margin:40px 0;
}
#tabContainer {
    width: 100%;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#tabs{
    height:30px;
    overflow:hidden;
}
#tabs > ul{
    font-size: 1em;
    list-style:none;
}
#tabs > ul > li{
    margin:0 2px 0 0;
    padding:7px 10px;
    display:block;
    float:left;
    color:#FFF;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    background: forestgreen;
}
#tabs > ul > li:hover{
    background: deepskyblue;
    cursor:pointer;
    color: #333;
}
#tabs > ul > li.tabActiveHeader{
    background: deepskyblue;
    color: #333;
}
#tabscontent {
    border: 2px solid deepskyblue;
    -moz-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
    padding:10px 10px 10px;
    background: #333; /* old browsers */
    margin:0;
    color: white;
}
